<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<nav th:replace="fragments :: navigation"></nav>

<form method="post" style="..." object = "">
    <div class="form-group">
        <label th:for="username">Email</label>
        <input class="form-control"/>
        <span />
    </div>
    <div>
        <label th:for="password">Password</label>
        <input type="password" />
        <span />
    </div>
</form>
</body>
</html>